*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.correct{
    color : white;
    background-color: green;
}
.incorrect {
    background-color: red;
}